body
{
  color:white;
  background:rgb(119, 144, 170);
}
.heading
{
    width:90px;
    font-size:22px;
}
#camera
{
    border:2px dashed black;
    width:350px;
    height:300px;
}
#result_object_accuracy,#result_object_name,.name_of_object
{
  color:rgb(233, 103, 33);
}